body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul , li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}
.container {
    width: 1158px;
}
.section {
    padding: 120px auto;
}